<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ec1513079.dogear"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name_dogear"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.ec1513079.dogear.MainLayoutActivity"
            android:label="@string/app_name" android:theme="@style/DogEARAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.artifex.mupdfdemo.MuPDFActivity"></activity>
        <activity android:name="PDFPageTableActivity"></activity>
        <activity android:name="SCAPreferenceActivity"></activity>
        <provider android:name="BookmarkProvider" android:authorities="com.ec1513079.dogear.BookmarkProvider" android:exported="false"></provider>
        <provider android:name="BrowseHistoryProvider" android:authorities="com.ec1513079.dogear.BrowseHistoryProvider" android:exported="false"></provider>
    </application>

</manifest>